.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}


body
{
  background-image: url(media/back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  margin: 0;
  color: rgb(230, 231, 255);
  font-family: Courgette
}

body h3
{
  margin: 1vh 0 0 0;
}

header
{
  background-color: rgba(28, 50, 68, 0.8);
  margin: 0;
}


main
{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url(media/mainback.png);
  background-repeat: repeat;
  background-attachment: scroll ;
  opacity: 0.9;
  border-radius: 1vw;
}

#intro
{
  display: block;
  width: 90vw;
  height: 90vh;
  margin: 5vh auto 5vh auto ;
  background-image: url(media/introimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  border-radius: 1vw;
}

.grid-container1
{
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-container
{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.introtext
{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}

.img1
{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 3vh 1vw 3vh 1vw;
}

.disc1
{
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 3vh 1vw 3vh 1vw;
}

.disc2
{
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 3vh 1vw 3vh 1vw;
}

.img2
{
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 3vh 1vw 3vh 1vw;
}