body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@keyframes appear
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#ans
{
    width: 40%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    animation: appear 8s ;
    
}

#ans section p
{
    padding: 1vh;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 1;
    border: solid 0.4vh;
    border-color: rgb(157, 253, 208);  
    border-radius: 0.5vh;
    font-size:  1.5vh;
    font-family: 'Press Start 2P';
    width: 100%;
    text-align: center;
}

#ans section p a
{
    color: white;
    
}

.cube
{
    width: 68%;
    height: 30%;
    background-color: black;
    opacity: 70%;
    border: solid 0.5vh;
    border-color: rgb(157, 253, 208);  
    border-radius: 2.5vh;
    position: absolute;
    right: 16%;
    bottom: 20px;
    
}

.cube p
{
    font-family: 'Press Start 2P';
    font-size:  2.6vh;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 100%;
    color: beige;
    margin: 2vh;
    word-spacing: 0.001em;
}


.anim1
{
    animation: appear 1s;
}

.anim2
{
    animation: appear 1.5s;
}

.anim3
{
    animation: appear 2s;
}

.anim4
{   
    animation: appear 2.5s;
}

.anim5
{   
    animation: appear 3s;
}
.anim6
{   
    animation: appear 3.5s;
}

